@import url("nav.css");
@import url("back-butto.css");
@import url("container-background.css");
@import url("card.css");
@import url("home-waifu-card.css");
@import url("detailed-waifu-card.css");

:root {
  --white: rgba(255, 255, 255, 1);
  --blue-darkest: rgba(22, 29, 37, 1);
  --blue-mediam: rgba(28, 57, 115, 1);
  --blue-light: rgba(124, 168, 192, 1);
  --blue-lighter: rgba(49, 98, 130, 0.7);
  --blue-opacity: rgba(28, 57, 115, 0.2);
  --text-red-light: rgba(255, 156, 165, 1);
  --text-blue: rgba(95, 167, 208, 1);

  --font-nunito: 600 1.2rem 'Nunito', sans-serif;
  --font-lora: 600 2.5rem 'Lora', serif;



}

* {

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--blue-darkest);
}